

.main {
    background-image: url(about-back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.nav-10 {
    margin-left: 600px;
}



.abt-topic-1 h1 {
    color: white;
    margin-top: 170px ;
    margin-left: 350px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 2px;
    
    
}

.Explore-1{
    display: flex;
    justify-content: center;


}
.Explore-1 a{
    background: transparent;
    backdrop-filter: blur(20px);
 

}

.Explore-1 a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 12px 40px;
    border-radius: 50px;
    width: 15%;
}

.Explore-1 a:hover {
    background-color: #000;
    font-size: 26px;
    transition: 1s;
    width: 16%;
}








/* fist section starts here */

.about-back-2 { 
    background-image: url(aboutback.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1700px;
    display: flex;
    overflow-y: hidden;
    
}

.about-blur {
    background-color: transparent;
    backdrop-filter: blur(20000px) ;
    width: 100%;
    height: 1500px ;
    margin-left: 20px ;
    margin-right: 300px;
    margin-top: 100px;
    border-radius: 30px;
    overflow-y: hidden;
 
    
    
    display:flex ;
    justify-content: center;
    align-items: center;

}




.about-para h1 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: white;
     
    
}

.about-para h1::after{
    content: '';
    position: absolute;
    background-color: #e91e39;
    height: 2px;
    box-sizing: border-box;
    width: 95%;
    margin-top: 45px;
    left: 3%;
    
}


.about-sec-img1 {
    width: 440px;
    float: left;
    height: 330px;
    margin-left: 50px;
    margin-top: 60px;
    box-shadow: 0px 0px 7px 7px  rgb(83, 81, 81) ;
}

.about-1 {
    padding-top: 20px;
}

.about-1 p {
    font-size: 25px;
    padding: 70px;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.about-2{
    flex-direction: row;
}

.about-sec-img2 {
    width: 440px;
    float: right;
    height: 330px;
    margin-right: 50px;
    margin-top: -380px;
    box-shadow: 0px 0px 7px 7px  rgb(83, 81, 81) ;

}

.about-2 p {
    display: flex;
    margin-left: 100px;
    margin-right: 600px;
    margin-top: 50px;
    font-size: 25px;
    line-height: 40px;
    
}


.about-3 {
    display: flex;
    margin-top: 50px;
    font-size: 25px;
    line-height: 40px;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.about-3 p {
    padding-bottom: 30px;
}


.footer {
    margin-top: auto;
}


/* protected-areas section */

.col {
    background: transparent;
    backdrop-filter: blur(200000px);
    width: 700px;
    height: 700px;
    border-radius:20px ;
    
    
  
} 

.protected-areas {
    background-image: url(about-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}


.title {
    text-align: center;
    font-size: 5vmin;
    color: #021116;
    
}


.title h1 {
    font-family: "Libre Bodoni", serif;
    padding-top: 50px;
    margin-top: 10px;
    
}

.line {
    width: 150px;
    height: 4px;
    background: #e91e39;
    margin: 10px auto;
    border-radius: 5px;
    margin-bottom: 30px;
   
}


.protected-areas .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
   
   
}


.protected-areas .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

}



.protected-areas-images {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    margin-top: 40px;
    
}



.col img {
    transition: transform 0.3s ease;

}

.col img:hover  {
    transform: scale(0.85);
}


.col h4 {
    font-size: 25px;
    color: #000;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.para-1 {
    background: transparent;
    backdrop-filter: blur(20px);
    width: 90%;
    height: 250px;
    border-radius:20px ;
    line-height: 25px;
    letter-spacing: .2px;
    overflow-y: hidden;
}


.protected-areas p, h1, h2, h3, h4, h5, h6 {
    pointer-events: none;
}


.txt-center {
    text-align: center;
    color: #fff;
    font-size: 20px;
    overflow-y: hidden;

}

@media only screen and (max-width: 1332px ) {
    
    .para-1 {
        font-size:16px ;
        overflow-y: hidden;
    }
    .protected-areas-images {
        width: 100%;
        height: 400px;
        margin-top: 10px;
        padding: 20px;
        border-radius: 30px;
    }
    .col h4 {
        font-size: 25px;
        color: #000;
        margin-top: -1px;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }
    
    
}


@media only screen and (max-width: 550px ) {
    
    .para-1 {
        font-size:16px ;
        overflow-y: hidden;
        
    }
    .protected-areas-images {
        width: 100%;
        height: 400px;
        padding: 40px;
        border-radius: 50px;
    }
    .col h4 {
        font-size: 25px;
        color: #000;
        margin-left: -100px;
        margin-right: -100px;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }
    .col {
        background: transparent;
        backdrop-filter: blur(200000px);
        width: 100%;
        height: 800px;
        border-radius:20px ;
    } 
    .txt-center {
       
        font-size: 19px;
    
    
    }
    
}


.map {
    overflow-y: hidden;
}

iframe {
    margin-bottom: -1%;
   
} 


/* Media queries for responsiveness */

@media only screen and (max-width: 1200px) {
    
    .protected-areas .row {
        flex-direction: column;
    }
    
}



